<h2>{{ canEdit ? 'Editar' : 'Cadastrar' }} Visitantes</h2>

<div class="example-container">

    <form [formGroup]="formG" (ngSubmit)="submitForm()">
        <mat-form-field>
            <mat-label>Digite o nome do usuário</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Digite o email do usuário</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field> 
        
        <mat-form-field>
            <mat-label>Digite o CPF</mat-label>
            <input type="text" matInput formControlName="cpf">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de aniversário</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date_birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Selecione a sala</mat-label>
        <mat-select formControlName="room">
            <mat-option *ngFor="let room of rooms" [value]='room.id'>{{ room.name }}</mat-option> 
        </mat-select>
        </mat-form-field>
    
        <button mat-raised-button color="primary" [disabled]="!formG.valid || clicked">{{ canEdit ? 'Editar' : 'Cadastrar' }}</button>
    </form>
    
    
</div>   
