<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Atividades</h2>

          <mat-form-field>
            <mat-label>Pesuisar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar por Administradores">
          </mat-form-field>
  
          <table mat-table [dataSource]="dataSource" matSort>
  
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let activity"> {{ activity.id }} </td>
            </ng-container>
          
            <!-- Name project Column -->
            <ng-container matColumnDef="project_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Projeto </th>
              <td mat-cell *matCellDef="let activity"> {{ activity.project_name }} </td>
            </ng-container>
            
            <!-- Name activity Column -->
            <ng-container matColumnDef="activity_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Atividade </th>
              <td mat-cell *matCellDef="let activity"> {{ activity.activity_name }} </td>
            </ng-container>
            
            <!-- Begin Date activity Column -->
            <ng-container matColumnDef="begin_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Início </th>
              <td mat-cell *matCellDef="let activity"> {{ activity.activity_begin_name | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
            
            <!-- End Date activity Column -->
            <ng-container matColumnDef="end_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Fim </th>
              <td mat-cell *matCellDef="let activity"> {{ activity.activity_end_name | date: 'dd/MM/yyyy' }} </td>
            </ng-container> 
            
            <!-- Status de usuários Column -->
             <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Finalizada </th>
              <td mat-cell *matCellDef="let activity"> {{ activity.finished == 0 ? 'Não' : 'Sim' }} </td>
            </ng-container>
        
            
            <!-- Icon Column -->
            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
              <td mat-cell *matCellDef="let activity"> 
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openModalCreate(activity)">edit</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openModalDelete(activity)">delete</mat-icon>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>


  <div class="example-button-row"> 
    <button mat-fab color="primary" aria-label="Example icon-button with a heart icon" (click)="openModalCreate(null)">
      <mat-icon>add</mat-icon>
    </button> 
  </div>